{
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "printWidth": 140
      }
    }
  ],
  "arrowParens": "avoid"
}
